@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">C / C# / ASP.NET</h1>
        <p class="lead"></p>
        <p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Full stack Development</h2>
            <p>
                Master Certification in Full-Stack Development
                The Master Certification in Full-Stack Web Development Course prepares you for the heavyweight title- Full Stack Developer. Not just that, along with the Master Certification in Full Stack Developer Course you shall be given a 14-course module completion certificate at every check-point clearance if you are effective in meeting the Assessment Standards.
            </p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">ASP.NET</h2>
            <p>Whether you’re interested in learning about specific aspects of ASP.NET development, or want a full introduction to working with ASP.NET on an end-to-end project, TechXpert has a course to help you achieve your goals.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">AWS cloud computing</h2>
            <p>Our AWS certification course is certified by NASSCOM as well as it aligns with industry standards. You will receive NASSCOM certification upon the completion of AWS course. This course includes SAA-C03 to help you clear AWS Solutions Architect Certification exam. Acquire AWS skills through hands-on practice with multiple case studies and projects, becoming proficient in constructing highly scalable and fault-tolerant applications.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </section>
    </div>
</main>